  body{
    font-family: PT Sans, sans-serif;
    width: 700px;
    margin: 10px auto;
  }
  #map{
    height: 700px;
    background: #F5F5F3;
  }
  .leaflet-control-attribution{
    display: none;
  }

  .info, .search{
    line-height: 5px;
    width: 260px;
    padding: 4px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .info div, .info input{
    line-height: 18px;
    margin: 0 10px;
    width: 240px;
    background: none;
    color: #000;
    font-size: 11.5px;
    padding: 0;
    border: 0;
  }

  .info .title{
    margin-bottom: -3px;
    font-weight: bold;
    color: #777;
}

  .info .title span{
    font-weight: normal;
    font-style: italic;
  }

  .info canvas, .info svg {
    opacity: .6;
  }

  .key path {
    display: none;
  }

  .key line {
    stroke-opacity: .7;
    stroke: #000;
  }

  .key text {
    font-size: 10px;
  }

  .leaflet-control {
    clear: none !important;
  }

  .search {
    line-height: 18px;
    height: 22px;
    width: 200px;
  }

  .search #search {
    width: 171px;
    padding-left: 25px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABNUlEQVQ4jZXSsS4EURSH8bsqjVZssj2tBxDiDSRaQq8QtWIatWqzmdzzfcnWlApv4BHwBgpCoZAsO5orZJjF6W7u/H/nnMxN6bN66rZ6CTwAL8AtcJpzHqRZBSwAF2qj3gPnKuqVOlWfga2ufK+Ep8BJVVXzXy8jYhW4ASbq+rd0GbsBTro61HXdB+7U65RSrw1cqvftzj+seag2Oee19sUDcD4rXKZYKZMetYEXlT8AfbWJiOM2cKte/QbknDcLsNMGTtVpRKzOAoAzYDIajRbb8kB9Vq+Hw+HST+GIOCj7j7v0LWAC3AGHwHJd1/2c8yZwVh5Yo74Ce107bgA3Xz5uStcJMFZfy/mtE6mqai7nvAYcRcRxROx87KzuA2+/IrOqjXz7I/9F1Md/AymlBOwCT0C8A3DOFIGPqdMbAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 5px 2px;
    border: 1px #ccc solid;
    height: 18px;
  }

.leaflet-control-layers-base div {
  display: block;
  cursor: pointer;
}
