#map
  height: 700px
  width: 700px
  margin: 10px auto

.leaflet-control-attribution
  display: none

.departements
  fill: transparent
  stroke: #BBB
  stroke-width: 1px

.departements:hover
  fill: #BBB
  fill-opacity: .4

.communes
  fill: #CCC
  fill-opacity: .8
  stroke: #CBCBCB
  stroke-width: 1px

.communes:hover
  fill: #BBB
  fill-opacity: .7
