#map
  height: 700px
  width: 700px
  margin: 10px auto

.leaflet-control-attribution
  display: none

path
  cursor: pointer

.departements
  fill: #BBB
  fill-opacity: .4
  stroke: #BBB
  stroke-width: 1px

.departements:hover
  fill-opacity: .7

.cantons
  fill: #BBB
  fill-opacity: .5
  stroke: #C9C9C9
  stroke-width: 1px

.cantons:hover
  fill-opacity: .7
