---
layout: typo
---
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Carto</title>
  <style>{% capture styles %}{% include style.sass %}{% endcapture %}{{ styles | sassify }}</style>

  {% if page.js contains "jquery" %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  {% endif %}

  {% if page.js contains "leaflet" %}
    <script>L_PREFER_CANVAS = true;</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet"/>
  {% endif %}

  {% if page.js contains "d3" %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  {% endif %}

</head>

<body>

{{ content }}

</body>
</html>
